.controller.ds4.edit {
    position: relative !important;
    width: 806px !important;
    height: 598px !important;
}

.controller.ds4.edit::after {
    content: "" !important;
    position: absolute !important;
    inset: 0 !important;

    width: 806px !important;
    height: 598px !important;

    background: url("https://matznq.github.io/matznq-controller/matznq-shell-806x598.png?v=1")
                no-repeat 0 0 !important;
    background-size: 806px 598px !important;

    pointer-events: none !important;
}


